
body{
    background: url("../../image/backgrounds/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}